// Variables

// Gray and Brand Colors for use across theme

$theme-primary:    #fed136;
$theme-danger:     #e74c3c;

$gray-base:			#192544 !default;
$gray-darker:		lighten($gray-base, 13.5%) !default;
$gray-dark:			lighten($gray-base, 20%) !default;
$gray:				lighten($gray-base, 33.5%) !default;
$gray-light:		lighten($gray-base, 46.7%) !default;
$gray-lighter:		lighten($gray-base, 93.5%) !default;


// rgba(25, 37, 68, 1.00) - Big Stone - #192544
// rgba(44, 64, 118, 1.00) - Resolution Blue - #2C4076
// rgba(52, 78, 143, 1.00) - Chambray - #344E8F
// rgba(75, 107, 189, 1.00) - Indigo - #4B6BBD
// rgba(124, 147, 207, 1.00) - Dark Pastel Blue - #7C93CF
// rgba(255, 255, 255, 1.00) - White - #FFFFFF
