// Custom Variables

// navy and Brand Colors for use across theme

$theme-primary:    #fed136;
$theme-danger:     #e74c3c;

$navy-base:			#192544 !default;
$navy-darker:		lighten($navy-base, 13.5%) !default;
$navy-dark:			lighten($navy-base, 20%) !default;
$navy:				lighten($navy-base, 33.5%) !default;
$navy-light:		lighten($navy-base, 46.7%) !default;
$navy-lighter:		lighten($navy-base, 93.5%) !default;

$navy-gradient: linear-gradient(rgba(25, 37, 68, 0.5), rgba(25, 37, 68, 0.1));


// rgba(25, 37, 68, 1.00) - Big Stone - #192544
// rgba(44, 64, 118, 1.00) - Resolution Blue - #2C4076
// rgba(52, 78, 143, 1.00) - Chambray - #344E8F
// rgba(75, 107, 189, 1.00) - Indigo - #4B6BBD
// rgba(124, 147, 207, 1.00) - Dark Pastel Blue - #7C93CF
// rgba(255, 255, 255, 1.00) - White - #FFFFFF
